<mat-toolbar color="primary" class="mat-elevation-z8">

    <span>Payroll Management</span>
    <div class="spacer"></div>
    <a mat-raised-button routerLink="/user" class="back btn btn-success">Home</a>
</mat-toolbar>

<div class="container">
    <h2 style="margin-top: 10px; margin-bottom: 10px; padding: 30px;">Attendances</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th> Employee_Name</th>
            <th> Email</th>
            <th> Date</th>  
            <th> Status</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td> {{attendance.emp_id}} </td>
            <td> {{attendance.emp_name}}</td>
            <td> {{attendance.email}} </td>
            <td> {{attendance.date}} </td>
            <td> {{attendance.status}} </td>
            <!-- <td>
                <button (click) = "attendanceDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td> -->
        </tr>
    </tbody>
</table>
</div>