<div class="cnt container">
    <h3>We are here for You!</h3>
<h5 style="color: rgb(229, 7, 226); font-weight: 500; background-color: rgb(44, 10, 214); width: 77px; padding: 6px; border-radius: 20px; font-weight: 700; color: rgb(212, 240, 241);">Address :</h5>
    <address>
    213/2-Vs, Electronic City,<br>
    Ramakrishna Nagar,<br>
    United States of Amalapuram - 765732.<br>
</address>

    <h5 style="color: rgb(229, 7, 226); font-weight: 550; background-color: rgb(44, 10, 214); width: 77px; padding: 6px; border-radius: 20px; font-weight: 700; color: rgb(212, 240, 241);">Timings :</h5>
      <p> Monday - Friday : 9.00 AM- 6.00 PM</p>

      <h5 style="color: rgb(229, 7, 226); font-weight: 550; background-color: rgb(44, 10, 214); width: 77px; padding: 6px; border-radius: 20px; font-weight: 700; color: rgb(212, 240, 241);">Contacts :</h5>
    <ul>
        <li style="margin-left: 50px;"><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">call</mat-icon>    &ensp;  1234567890</li>
        <li style="margin-left: 50px;"><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">telegram</mat-icon> @emp-payroll</li>
        <li style="margin-left: 50px;"><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">mail</mat-icon> emppayroll@gmail.com</li>
    </ul>
</div>

<img class="img-res" src="https://media.istockphoto.com/vectors/man-in-call-center-support-customer-support-answering-questions-vector-id1290300704?k=20&m=1290300704&s=612x612&w=0&h=Png4ibwlXjXWyI483ezZOVxBs5w4wUN0rcXDwadKt44=">