<mat-toolbar color="primary" class="mat-elevation-z8">

    <span>Payroll Management</span>
    <div class="spacer"></div>
    <a mat-raised-button routerLink="../user" class="back btn btn-success">Home</a>
</mat-toolbar>
<div class="container">
    <h2 style="margin-top: 10px; margin-bottom: 10px; padding: 30px;"> Salary</h2>

<table class = "table table-striped">
    <thead>
        <tr>
            <!-- <th>Id</th> -->
            <th> Employee_Name</th>
            <th> Basic_Pay</th>
            <th> Deductions</th>  
            <th> Net_Pay</th>
            <th> Month </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of salary" >
            <!-- <td> {{ employee.id }} </td> -->
            <td> {{ employee.emp_name }} </td>
            <td> {{ employee.basic_pay}} </td>
            <td> {{ employee.deductions}} </td>
            <td> {{ employee.net_pay}} </td>
            <td> {{ employee.month}} </td>
            <td>
               
                
                <button (click) = "print()"  class = "btn btn-info" style="margin-left: 10px"> Print</button>
            </td>
        </tr>
    </tbody>
</table>
</div>