<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Employee</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="updateprofile">Check Employee-list</a> -->
      <a mat-list-item href="attendance-details/:id">View-Attendance</a>
      <a mat-list-item href="schedule-details/:id">View-Schedule</a>
      <a mat-list-item href="salary-details/:id">View-Salary</a>
      <a mat-list-item href="leave-details/:id">View-Leave</a>
      
</mat-nav-list>
</mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary" style="position:fixed;">
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <span>Employee Payroll System</span>
      <div class="spacer"></div>
      <button class="btn btn-danger " style="position:fixed; right: 30px; height: 37px;" (click)="logout()">Logout</button>
      <img src="https://img.freepik.com/free-vector/generation-x-abstract-concept-vector-illustration-middle-age-parents-work-life-balance-strong-professional-cold-war-personal-computing-pay-off-debt-stable-saving-plan-abstract-metaphor_335657-1920.jpg">
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>