
<div class="abt-cnt">
    <h3 class="text-success welcome"><b>Payroll Software Solutions</b></h3>
<p>Online payroll provider that frees you from the tasks of today, so together, we can spend more time focused on the promise of tomorrow.</p>
<h3 class="text-success welcome"><b>About</b></h3>
<p>
    Spend Less Time Running Payroll and Focus on Growing Your Business. Sign up Now. A Complete HR Payroll Solution to Automate Your Business Payroll Tasks.
    <span>Manage your attendance and payroll anytime, anywhere, on any platform.</span>Employee Self-Service App. Easy Payroll Processing. Payroll Simplified. Statutory Compliance.
</p>

<a routerLink="/explore" class="text-dark btn btn-primary oacc" style="text-decoration: none; font-weight: 700; margin-top: 30px;">Know More</a>
</div>
