<mat-toolbar color="primary" class="mat-elevation-z8">

    <span>Payroll Management</span>
    <div class="spacer"></div>
    <a mat-raised-button routerLink="../user" class="back btn btn-success">Home</a>
</mat-toolbar>

<div class="container">
    <h2 style="margin-top: 10px; margin-bottom: 10px; padding: 30px;"> Schedules</h2>
<table class = "table table-striped ">
    <thead >
        <tr>
            <th>Id</th>
            <th> Date</th>
            <th> Time</th>  
            <th> Shift</th>
            <th> Work_Assigned </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of schedule" >
            <td> {{ employee.emp_id }} </td>
            <td> {{ employee.workdate}} </td>
            <td> {{ employee.worktime }} </td>
            <td> {{ employee.workshift}} </td>
            <td> {{ employee.workstatus}} </td>
            <!-- <td>
                
                <button (click) = "scheduleDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td> -->
        </tr>
    </tbody>
</table>
</div>